<!DOCTYPE html>
<html lag ="ja">
  <head>
    <meta charset="UTF-8" />
    <title>WebCampBackendNew</title>
    <link rel="stylesheet" href="homes.scss">
  </head>
  
  <body>
    <h1>ようこそ
      <span>Bookers</span>
      へ！
    </h1>
    <p>
      <span>Bookers</span>
      では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>印象を共有し交換する事ができます</p>
    <%= link_to "start", books_path %>
    </body>
</html>
  
<%= link_to "/", root_path %>
