// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 27px 35px;
  font-size: 25px;
}

span {
  font-weight: bold;
}

p {
  margin: 25px 70px;
  font-size: 15px;
}

a {
  margin: 0 70px;
  color: #696969;
  font-size: 12px;
}